* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* bootstrap css */
.container-box {
  display: flex;
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
.container {
  width: 40%;
  margin: auto;
  color: rgb(68, 124, 173);
  height: fit-content;
  padding: 10px;
}
.code {
  width: 100%;
  height:40vw;
}
@media (max-width: 1200px) and (min-width: 620px) {
  .container-box {
    flex-direction: column;
  }
}
@media all and (max-width: 600px) {
  .container {
    width: 80%;
  }
  .container-box {
    flex-direction: column;
  }
}
body {
  background-color: #b3bbbb;
}

form input {
  border: 2px solid grey;
}
input:focus {
  box-shadow: 1px 1px 10px 1px rgb(117, 113, 113);
}
.form span {
  padding: 5px;
}
#checkbox {
  width: auto;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 30px;
  border: 1px solid grey;
  margin: auto;
  color: rgb(68, 124, 173);
  margin-top: 10px;
  margin-bottom: 10px;
}
.check-icon {
  width: 20px;
  height: 20px;
  position: relative;
  left: 190px;
  top: -50px;
}
.icon-box {
  text-align: center;
}
.icon {
  width: 60px;
  height: 60px;
  margin: auto;
}
.invalid-data {
  padding: 10px;
  display: block;
  color: red;
  text-align: justify;
  word-wrap: break-word;
}
.valid-data {
  padding: 10px;
  display: block;
  color: green;
  text-align: justify;
  word-wrap: break-word;
}
.form-box h1 {
  padding: 5px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.submit-btn {
  font-size: 1em;
  font-weight: 300;
  margin: auto;
}
.submit-btn:hover {
  background-color: blue;
  color: aliceblue;
}
.main {
  
  width: 100%;
  height: 100%;
  height: fit-content;
  text-align: center;
  padding-top: 20px;
  margin: auto;
}

.main h1 {
  font-size: large;
  font-weight: bold;
}
.nav-box {
  width: 100%;
  height: 5%;
  margin: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(23, 23, 165);
}
.nav-box .link {
  padding: 15px;
  text-decoration: none;
  color: white;
}
.link:hover {
  /* font-size: 20px; */
  color: grey;
}
.banner {
  width: 100%;
  height: 200px;
}
.about {
  width: 100%;
  background-color: white;
  margin: auto;
  margin-top: 5px;
  padding: 15px;
  
}
.about h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
}

.section {
  margin: auto;
  text-align: justify;
  width: 100%;
}
.section h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.section p {
  margin-bottom: 15px;
}
.modal-style {
  width: 16vw;
  padding: 30px 0px 30px 0px;
  line-height: 5vw;
  position: fixed;
  top: 10vw;
  left: 42vw;
  background-color: rgb(187, 231, 161);
  color: rgb(5, 68, 24);
  z-index: 1;
  text-align: center;
}
.modal-btn {
  padding: 2px 20px 2px 20px;
  border: 1px solid grey;
  background-color: indigo;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.modal-btn:hover {
  background-color: blue;
}
.footer {
  background-color: blue;
  display: flex;
  text-align: center;
  color: white;
  justify-content: space-around;
  height: 150px;
  line-height: 150px;
}
@media all and (max-width: 600px) {
  .form-box {
    margin-top: 20px;
    width: 90%;
  }
  .about {
    width: 100%;
  }
  .section {
    width: 100%;
    padding: 10px;
  }
  .modal-style {
    width: 80vw;
    top: 30vw;
    left: 10vw;
  }
  .modal-btn {
    background-color: blue;
    position: relative;
    top: 20px;
  }
}
